@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background: black url(../imagens/paoFrances1.jpg) right no-repeat fixed;
    background-size: cover;
    text-align: center;
}

header{
    background-color: #b9792cda;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 241, 241, 0.968);
}

nav{
    text-align: left;
}

a >img{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    box-sizing: border-box;
}

a > img:hover{
    border: 2px solid black;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    transition: transform 0.5s, border 1s;
}

#txt1{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 20px;
}

 #imgs{
    display: inline-block;
    padding: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-sizing: border-box;
}

#imgs:hover{
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    transition: transform 0.5s, border 1s;

}

#txt2{
    background-color: rgba(0, 0, 0, 0.568);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-size: 1.5em;
    padding: 10px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}